<!doctype html>
<html>
  <body style="margin:0; padding:0; background:#f3f4f6;">
    <table
      role="presentation"
      width="100%"
      cellspacing="0"
      cellpadding="0"
      border="0"
      style="margin:0; padding:40px 0; width:100%;"
    >
      <tr>
        <td align="center">
          <table
            role="presentation"
            width="720"
            cellspacing="0"
            cellpadding="0"
            border="0"
            style="width:720px; max-width:720px; background:#ffffff; border-radius:16px;"
          >
            <tr>
              <td style="padding:40px;">
                {{ body_html | safe }}
              </td>
            </tr>
            <tr>
              <td>
                {% include "emails/footer.html" %}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>